/* Color
Green: #4CAF50
Light Green: #8bc34a
Light grey: #f1f1f1
*/
body {
background-color: #8bc34a; 
}
hr {
 height: 2px;
 border: 0;
 background-color: #f1f1f1;
}
#title {
    content:url(title.png);
    max-width: 25%;
    max-height: 25%;
    margin: auto;
}
#spacer {
    max-width: 1px;
    max-height: 1px;
    margin: auto;
}
/* ////////////////MENU//////////////////////// */
ul.tab { /*  Menu Top Bar */
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid #97c95d;
    background-color: #97c95d;
    width: 60%;
    text-align: center;
    border-radius: 3px;
    border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    opacity:0.99;   
}

/* Menu top-bar *must be center* */
ul.tab li {display:inline-block;
background-color: 0;
}
.tablinks {}
/* Tab style */
ul.tab li a {
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 1px 0px white;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 28px;
    text-align: center;
    border-radius: 0px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
}
ul.tab li a:hover {
transform: scale(1.01);    
}
/* background color of links on hover */
ul.tab li a:hover {background-color: #f1f1f0;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #f1f1f; transform: scale(1.02);}

/* Style the tab content */
.tabcontent {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    background-color: #0;
    width: 60%;
    text-align: center;
    border-radius: 0px;
    border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    height: 64.5vh;
    background-color: white;
    opacity:0.99;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 1px 0px white;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),0px 0px 0px 1px rgba(0, 0, 0, 0.19);
    overflow: scroll;
}
.closemenu {
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 50px;
    color: black;
    font-weight: bold;
    float: right;
    overflow: hidden;
}
h1{
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 60px;
    color: #4CAF50;
    font-weight: bold;
    
}
h2 {
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    
}
h3{
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 60px;
    color: white;
    transform: scale(1.1);
    
}
h4 {
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 40px;
    color: green;
    font-weight: bold;
    
}
.notee {
    font-size:10px;
    font-family:Arial Black, Gadget, sans-serif;
    font-weight: bold;
}
.Hometil{
font-size:18px;
    font-family:Arial Black, Gadget, sans-serif;
    font-weight: bold;
}
.Hometxt{
font-size:12px;
    font-family:Arial Black, Gadget, sans-serif;
    color: darkgrey; 
}
.homescreen {
    font-size:10px;
    font-family:Arial Black, Gadget, sans-serif;
    font-weight: bold;
}
.regtext{
    color:#8bc34a;
    font-size:65px;
    font-weight: bold;
    font-family:Arial Black, Gadget, sans-serif;
}
.rstext {
    font-size:90px;
    font-family:Arial Black, Gadget, sans-serif;
    font-weight: bold;
}
.AClevel {
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 40px;
    color: #8bc34a;
    font-weight: bold;   
}
.AClearn {
    text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 20px;
    color: grey;
    font-weight: bold;   
}
.ACug {
text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 30px;
    color: #8bc34a;
    font-weight: bold;       
}
.ACcost {
text-decoration:none;
    font-family:Arial Black, Gadget,sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold; 
    
}
#btn-reset {
    border-radius: 2px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #8bc34a;
    border-radius: 50%;
    border: none;
    box-shadow: 0 9px #999;
    cursor: pointer;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    outline: none;
}
#autoclick{
    border-radius: 2px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #4CAF50;
    cursor: pointer;
    width: 90%;
}
.btn-AC{
    border-radius: 2px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #4CAF50;
    cursor: pointer;
}
/* HOVER */
#btn-reset:hover { 
transform: scale(1.5);
}
#btn-reset:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: scale(1.4);
}
#autoclick:hover {
    transform: scale(1.1);
}
#autoclick:active {
    transform: scale(1.0);
}
.btn-AC:hover {
    transform: scale(1.1);
}
.btn-AC:active {
    transform: scale(1.0);
}